@import url(http://fonts.googleapis.com/css?family=Gabriela);

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Night_view_of_City_Riyadh_from_Hauptstadt_Saudi_Arabiens_-_panoramio.jpg/1200px-Night_view_of_City_Riyadh_from_Hauptstadt_Saudi_Arabiens_-_panoramio.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}

.wrapper {
  margin: 0 auto;
  width: 60%;
  padding-bottom: 40px;
}

#content {
  padding: 20px;
  background: rgba(255,255,255,.85);
}

h1, h2 {
  font-family: 'Gabriela', serif;
  color: #3DEDF2;
}

h1 {
  font-size: 3.5em;
  margin-bottom: 0;
}

h2 {
  font-size: 1.5em;
  margin-top: .5em;
}

h3 {
  font-family: 'Gabriela', serif;
  font-size: 1.5em;
  margin-top: .5em;
  color: #A137FF;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

p {
  font-size: 1.1em;
  color: #437FE1;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1042px) {
  .wrapper {
    width: 80%;
  }
}

@media only screen and (max-width: 784px) {
  body {
    font-size: 120%;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1em;
  }
  .wrapper {
    width: 95%;
  }
}
