@import url(http://fonts.googleapis.com/css?family=Gabriela);

html, body {
  height: 100%;
  min-height: 100%;
}

/*body {
  background: url(../images/garden.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}*/
body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

h1,
h6 {
	font-family: 'Open Sans';
	font-weight: 300;
	text-align: center;
	position: absolute;
	top: 45%;
	right: 0;
	left: 0;
}

.wrapper {
  margin: 0 auto;
  width: 60%;
  padding-bottom: 40px;
}

#content {
  padding: 20px;
  background: rgba(255,255,255,.85);
}

h1, h2 {
  font-family: 'Gabriela', serif;
  color: black;
}

h1 {
  font-size: 3.5em;
  margin-bottom: 0;
}

h2 {
  font-size: 1.5em;
  margin-top: .5em;
}

h3 {
  font-family: 'Gabriela', serif;
  font-size: 1.5em;
  margin-top: .5em;
  color: black;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

p {
  font-size: 1em;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1042px) {
  .wrapper {
    width: 80%;
  }
}

@media only screen and (max-width: 784px) {
  body {
    font-size: 120%;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1em;
  }
  .wrapper {
    width: 95%;
  }
}
