@import url(http://fonts.googleapis.com/css?family=Gabriela);
@import url(http://fonts.googleapis.com/css?family=Delius+Swash+Caps);
@import url(http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise);

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  background: #4682B4; /* For browsers that do not support gradients */
  background: linear-gradient(#4682B4, #B0C4DE, #F0F8FF); /* Gradient Background */
  background: -webkit-linear-gradient(#4682B4, #B0C4DE, #F0F8FF); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#4682B4, #B0C4DE, #F0F8FF); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#4682B4, #B0C4DE, #F0F8FF); /* For Firefox 3.6 to 15 */

  background-size: cover;
  background-attachment: fixed;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}

.wrapper {
  margin: 0 auto;
  width: 60%;
  padding-bottom: 40px;
}

#content {
  padding: 20px;
  background: rgba(255,255,255,.85);
}

h1, h2 {
  font-family: 'Delius Swash Caps', 'Gabriela', serif;
  color: #fff;
}

h1 {
  font-size: 3.5em;
  margin-bottom: 0;
}

h2 {
  font-size: 1.5em;
  margin-top: .5em;
  color: #F5F5F5;
}

h3 {
  font-family: 'Waiting for the Sunrise', 'Gabriela', serif;
  font-size: 1.8em;
  margin-top: .5em;
  color: #808080;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

p {
  color: #323232;
  font-family: 'Papyrus';
  font-size: 1em;
  margin-left: 1.5em;
}

a {
  color: #323232;
  font-family: 'Gabriela';
  margin-left: 1.2em;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1042px) {
  .wrapper {
    width: 80%;
  }
}

@media only screen and (max-width: 784px) {
  body {
    font-size: 120%;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1em;
  }
  .wrapper {
    width: 95%;
  }
}
