@import url(http://fonts.googleapis.com/css?family=Gabriela);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,200,300,500,600);

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  background: #C9DFE7 center no-repeat;
  background: -webkit-linear-gradient(bottom, #25434E, #74919B) center no-repeat; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, #25434E, #74919B) center no-repeat; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, #25434E, #74919B) center no-repeat; /* For Firefox 3.6 to 15 */
    background: linear-gradient(bottom, #25434E, #74919B) center no-repeat; /* Standard syntax */
  background-size: cover;
  background-attachment: fixed;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}

.wrapper {
  margin: 0 auto;
  width: 60%;
  padding-bottom: 40px;
}

#content {
  padding: 20px;
  background: #74919B;
  background: -webkit-linear-gradient(#74919B, #25434E); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#74919B, #25434E); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#74919B, #25434E); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#74919B, #25434E); /* Standard syntax */
}

h1, h2 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  color: #25434E;
}

h1 {
  font-size: 4em;
  margin-bottom: 0;
}

h2 {
  font-size: 2em;
  margin-top: .5em;
}

h3 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  margin-top: .5em;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

p {
  font-family: 'Work Sans', sans-serif;
  font-size: 1em;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1042px) {
  .wrapper {
    width: 80%;
  }
}

@media only screen and (max-width: 784px) {
  body {
    font-size: 120%;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1em;
  }
  .wrapper {
    width: 95%;
  }
}
