@import url(http://fonts.googleapis.com/css?family=Gabriela|Rock+Salt|Covered+By+Your+Grace|Reenie+Beanie);

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  background-color: grey;
  background-size: cover;
  background-attachment: fixed;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  padding-bottom: 40px;
}

#content {
  padding: 20px;
  background: #EED2EE;
}

h1, h2 {
  font-family: 'Rock Salt', cursive;
  color: lightpink;
}

h1 {
  font-size: 5em;
  margin-bottom: 0;
}

h2 {
  font-size: 2.5em;
  margin-top: .5em;
  color: white;
}

h3 {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 4em;
  margin-top: .5em;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

p {
  font-size: 3em;
  font-family: 'Reenie Beanie', cursive;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 1042px) {
  .wrapper {
    width: 80%;
  }
}

@media only screen and (max-width: 784px) {
  body {
    font-size: 120%;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1em;
  }
  .wrapper {
    width: 95%;
  }
}
