@import url(http://fonts.googleapis.com/css?family=Gabriela);

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  background: #648880;
  background: linear-gradient(to right, #f6f1d3, #648880, #293f50);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}

.wrapper {
  margin: 0 auto;
  width: 60%;
  padding-bottom: 40px;
}

#content {
  padding: 20px;
  background: rgba(255,255,255,.85);
}

h1, h2, h3 {
  font-family: 'Uncial Antiqua', serif;
  color: #023859;
}

h1 {
  font-size: 3.5em;
  margin-bottom: 0;
}

h2 {
  font-size: 1.5em;
  margin-top: .5em;
  color: #000;
}

h3 {
  font-size: 1.5em;
  margin-top: .5em;
  color: #333;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

p {
  font-size: 1em;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1042px) {
  .wrapper {
    width: 80%;
  }
}

@media only screen and (max-width: 784px) {
  body {
    font-size: 120%;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1em;
  }
  .wrapper {
    width: 95%;
  }
}
